<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7GkewpsnsFmYgK2ddGD_6fJIa_Z7daj4</string>
	<key>GCM_SENDER_ID</key>
	<string>1083006566648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventvista</string>
	<key>PROJECT_ID</key>
	<string>eventvista-90ce3</string>
	<key>STORAGE_BUCKET</key>
	<string>eventvista-90ce3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083006566648:ios:d43981a3e4f05fdca17b0d</string>
</dict>
</plist>